.bookmark {    
    margin-top: 12px;
    height: 76px;

    display: flex;
    box-sizing: border-box;

    background: #f7f7f7;
    border: 1px solid #d0d0d0;
    border-radius: 6px;

    user-select: none;

    &:first-child {
        margin-top: 0;
    }

    &:hover {
        background: #f0f0f0;
    }
}

.bookmark > .bookmark_url {
    color: #0069c1;
    text-decoration: none;
    line-height: 1em;

    flex-grow: 1;
    display: flex;
    align-items: center;

    padding: 12px 30px;

    &:hover {
        text-decoration: underline;
    }
}

.bookmark > .bookmark_editurl {
    display: none;
    flex-grow: 1;
    margin: 12px;
}

.bookmark > .bookmark_buttons {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.bookmark > .bookmark_buttons > button {
    margin-left: 10px;
}
.bookmark .bookmark_buttons > button[data-action=save],
.bookmark .bookmark_buttons > button[data-action=cancel] {
    display: none;
}


// State: Edit Mode
.bookmark.is-editing {
    .bookmark_url {
        display: none;
    }
    .bookmark_editurl {
        display: block;
    }
    .bookmark_buttons > button[data-action=edit],
    .bookmark_buttons > button[data-action=delete] {
        display: none;
    }
    .bookmark_buttons > button[data-action=save],
    .bookmark_buttons > button[data-action=cancel] {
        display: inline-block;
    }
}