.button {
    padding: 12px 18px;
    border: 0;

    text-decoration: none;
    color: #fff;

    background: #a00500;
    border-radius: 3px;

    cursor: pointer;
    user-select: none;
}

.button:hover {
    background: #a90a05;
}

.button.button-secondary {
    background: #00a075;
}

.button.button-last {
    background: #777777;
}