.addbookmarkform > input[type=text] ~ button {
    margin-left: 16px;
}

h2 ~ .addbookmarkform {
    margin-top: 30px;
}

.addbookmarkform > .addbookmarkform_error {
    color: #ff0000;

    margin-top: 16px;
    display: block;
}