.addbookmarkform > input[type=text] ~ button {
    margin-left: 16px;
}

h2 ~ .addbookmarkform {
    margin-top: 30px;
}

.addbookmarkform > .addbookmarkform_error {
    color: #ff0000;

    margin-top: 16px;
    display: none;
}

.addbookmarkform.is-error > .addbookmarkform_error {
    display: block;
}
.addbookmarkform.is-error > input[type=text] {
    border: 1px solid #ff0000;
}