.l-section,
.l-section-highlighted {
    padding: 50px 0;
}

.l-section-highlighted {    
    background: #fbf8e7;
}

.l-section > .l-container,
.l-section-highlighted > .l-container {
    display: flex;
    align-items: center;
}